.jumbotron{
    text-align: center;
    align-items: center;
    background-image: url("./images/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    width: 60rem;
    height: 30rem;
    margin-left: 5rem;
    padding-top:10rem ;
}
.about{
    text-align: center;
    font-size: small;
    margin-left: 7rem;
    width: 60rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.services{
    text-align: center;
    margin-left: 7rem;
    margin-top: 3rem;
    background-image: url("./images/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    padding: 8rem;
    color: aliceblue;
}